@model Microsoft.EntityFrameworkCore.DbSet<Gamora.Models.Song>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>List of Songs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/StyleSheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
                <div class="rounded">
        <table class="table-striped">
            <thead>
                    <tr>
                        <th>Author</th>
                        <th>Title</th>
                        <th class="center">Year</th>
                        <th class="center">Genre</th>
                        <th class="center">Rating</th>
                    </tr>
            </thead>
            @foreach (var song in Model)
            {
                <tr>
                    <td><a href="~/list/author/@song.Author">@song.Author</a></td>
                    <td><a href="~/show/@song.Id">@song.Title</a></td>
                    <td class="center"><a href="~/list/genre/@song.Genre">@song.Genre</a></td>
                    <td class="center"><a href="~/list/year/@song.Year">@song.Year</a></td>
                    <td class="center">@song.Rating</td>
                </tr>
            }
        </table>
                </div>
    </div>
</body>
</html>