@model Gamora.Models.Song

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <ul>
        <li>@Model.Author</li>
        <li>@Model.Title</li>
        <li>@Model.Genre</li>
        <li>@Model.Year</li>
        <li>@Model.Rating</li>
    </ul>
</body>
</html>