@model FoxClub.Models.Fox

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Fox Club - Information</title>
</head>
<body>
    <nav>
        <a href="/information">Information</a>
        <a href="/nutritionstore">Nutrition Store</a>
        <a href="/trickcenter">Trick Center</a>
        <a href="/actionhistory">Action History</a>
    </nav>
    <header>
        Information page
    </header>
    <content>
        <div>
            <img src="../../greenfox.png" alt="Fox picture" />
        </div>
        <div>
            This is @(Model.Name.Equals(string.Empty) ? "Mr Fox (he has no name yet)" : Model.Name).
            Currently living on @Model.Food.ToString().ToLower() and @Model.Drink.ToString().ToLower().
            He knows @(Model.KnowsAnyTrick ? $"{Model.Tricks.Count().ToString()} tricks" : "no tricks (yet)").
        </div>
        <div>
            <h1>
                Known tricks
            </h1>
        </div>
        <div>
            @if (Model.KnowsAnyTrick)
            {
                <ul>
                    @foreach (var trick in Model.Tricks)
                    {
                        <li>
                            @trick.ToString().ToLower()
                        </li>
                    }
                </ul>
            }
            else
            {
                <span>
                    He knows no trick yet. Let's train him a little.
                </span>
            }
        </div>
    </content>
    <footer>
        Arnold BARNA, 2017
    </footer>
</body>
</html>