@model Day03BankOfSimba.Models.BankAccounts
@{ 
    var classification = new Day03BankOfSimba.Models.AnimalTypeClassification();
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bank Accounts - Bank of Simba</title>
    <link rel="stylesheet" type="text/css" href="StyleSheet.css"/>
</head>
<body>
    <table>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Animal Type</th>
            <th>Balance</th>
            <th>Classification</th>
        </tr>
        @{ var index = 0;}
            @foreach (var bankAccount in Model.Accounts)
            {
                <tr>
                    <td>@(++index)</td>
                    <td>@bankAccount.Name</td>
                    <td>@bankAccount.AnimalType</td>
                    <td>@bankAccount.Balance.ToString("0.00 Zebra")</td>
                    <td>@classification[bankAccount.AnimalType]</td>
                </tr>
            }
    </table>
</body>
</html>