@model FoxAirlines.ViewModels.FlightTicketsOverview

@{
    Layout = "_Layout";
}
<div class="container">
    <h2>Airport Operations</h2>
    <div class="col-sm-6">
        <table class="table table-striped">
            <caption>
                Flight tickets
            </caption>
            <thead>
                <tr>
                    <th>Take-Off</th>
                    <th>Destination</th>
                    <th class="text-center">Free Seats</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var flight in Model.Lines)
            {
                    <tr>
                        <td>@flight.TakeOffDate.ToString("yyyy MMM d")</td>
                        <td>@flight.Destination</td>
                        <td class="text-center">@flight.NumberOfFreeSeats</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <table class="table table-striped">
            <caption>
                Boarding passengers
            </caption>
            <thead>
                <tr>
                    <th>Take-Off</th>
                    <th>Destination</th>
                    <th class="text-center">Free Seats</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var flight in Model.Lines)
            {
                    <tr>
                        <td>@flight.TakeOffDate.ToString("yyyy MMM d")</td>
                        <td>@flight.Destination</td>
                        <td class="text-center">@flight.NumberOfFreeSeats</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
