@model Microsoft.EntityFrameworkCore.DbSet<Ex1ListingTodos.Models.Todo>
<style>
    table {
        border-collapse: collapse
    }
    thead {
        background-color: aliceblue;
    }

    td {
        border-bottom: 1px dotted grey;
    }
    td.urgent{
        font-weight: bold;
    }
</style>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo App</title>
</head>
<body>
    <h1>Todo App</h1>

    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Urgent</td>
                <td>Done</td>
            </tr>
        </thead>
        @foreach (var todo in @Model)
        {
            <tr>
                <td class="@(@todo.IsUrgent? "urgent": "not-urgent")">@todo.Id</td>
                <td class="@(@todo.IsUrgent? "urgent": "not-urgent")">@todo.Title</td>
                <td class="@(@todo.IsUrgent? "urgent": "not-urgent")">@todo.IsUrgent</td>
                <td class="@(@todo.IsUrgent? "urgent": "not-urgent")">@todo.IsDone</td>
            </tr>
        }
    </table>
</body>
</html>