@model Microsoft.EntityFrameworkCore.DbSet<Recipes.Models.Recipe>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Recipes</title>
</head>
<body>
    <h1>
        Recipes
    </h1>
    <h2>
        List of recipes
    </h2>
    <div>There are currently @(Model.Count()) recipe(s) in the database.</div>
    <div>
        <a href="/add">Add new</a>
    </div>
    <table>
        <thead>
            <tr>
                <td>Recipe</td>
                <td>Cuisine</td>
                <td>Preparation time</td>
                <td>Level</td>
                <td>Vegetarian</td>
                <td></td>
            </tr>
        </thead>
        @foreach (var recipe in @Model)
            {
            <tr>
                <td>@recipe.Name</td>
                <td>@recipe.Cuisine</td>
                <td>@recipe.PreparationTimeInMinutes</td>
                <td>@recipe.Level</td>
                <td>@recipe.IsVegetarian</td>
                <td>
                    <a href="/edit/@recipe.Id">Edit</a>
                    <a href="/delete/@recipe.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
</body>
</html>