@model string[]
@{ Random random = new Random();}
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>
        Hello, @Model.ToString()! This site was loaded @Model.Length times since last server start.
        @foreach (var hello in @Model)
        {
        <span style="color:rgb(@random.Next(255), @random.Next(255), @random.Next(255)); 
              font-size: @random.Next(12,48)px">
            @hello
        </span>
        }
    </p>
</body>
</html>